* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 100vh;
	margin-left: 10vw;
}
header {
	height: 15%;
	width: 100%;
}
nav {
	display: flex;
	justify-content: space-evenly !important;
	align-items: center;
	height: 20%;
	width: 100%;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-weight: bold;
		border-radius: 25px;
		width: 150px;
		height: 50px;
		color: black;
		background-color: rgb(175, 175, 175);
		transition: all 0.1s ease-in-out;
	}
	a:hover {
		background-color: rgb(209, 209, 209);
		scale: 1.2;
	}
}
main {
	display: flex;
	flex-direction: row;
	width: 80vw;
	height: 55%;
	.left {
		height: 100%;
		width: 25%;
	}
	.right {
		height: 100%;
		width: 75%;
	}
}
footer {
	width: 100%;
	height: 10%;
}
.border {
	border: 5px solid darkblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right {
	display: inline-block;
}
