* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #fff;
	background-color: #333;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
	font-size: 60px;
	text-shadow: 0 0 5px #fff;
}
h3 {
	text-shadow: 0 0 3px #000;
}
main {
	padding: 50px;
	width: 800px;
	background-color: #666;
	margin-left: 50%;
	margin-top: 100px;
	text-align: center;
	border-radius: 20px;
	translate: -50%;
}
div {
	position: relative;
	margin: 20px auto 0 auto;
	width: 500px;
	height: 80px;
	background-color: #555;
	border: 2px #444 solid;
	border-radius: 25px;
}
.delBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 20px 40px;
}
.delBtn:hover,
button:hover {
	box-shadow: 0 0 15px #fff;
	scale: 1.05;
}
p {
	display: block;
	margin-left: 50px;
	line-height: 80px;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}
button {
	padding: 15px 30px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	background: none;
	font-weight: bold;
	border-radius: 25px;
	transition: 0.3s box-shadow, scale 0.3s;
}
input {
	border-radius: 10px;
	border: none;
	font-size: 20px;
	padding: 10px 20px;
}
