* {
	font-family: 'Century', 'serif';
	text-align: center;
}
header,
footer {
	background-color: indigo;
	color: #fff;
	font-style: italic;
	padding: 2px;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
section {
	width: 50%;
	height: 470px;
}
img {
	width: 500px;
	height: 333px;
	padding: 3px;
	margin: 10px;
	border: 2px dashed slateblue;
    filter: brightness();
}
a {
	color: #fff;
}
button {
	background-color: slateblue;
	color: #fff;
	border: none;
	padding: 10px 20px;
	margin-top: 10px;
}
button:hover {
	background-color: indigo;
}
input[type='range'] {
	width: 80%;
}
.top-left {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.bottom-left {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.bottom-right {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.gray {
	filter: grayscale(100%);
}
